services:
  mongodb:
    image: mongo:8
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 1234
    volumes:
      - mongo_data:/data/db

  server:
    build:
      context: ./backend
    ports:
      - 3000:3000
      - 9229:9229
    depends_on:
      - mongodb
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
      - PORT=3000
      - MONGODB_URI=mongodb://root:1234@mongodb:27017/tfg?authSource=admin

  website:
    build:
      context: ./frontend
    environment:
      CHOKIDAR_USEPOLLING: "true"
    ports:
      - 5173:5173
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - server

volumes:
  mongo_data:
