.searchPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.origin, .destination {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.origin input, .destination input {
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.options select {
    padding: 0.25rem 0.75rem;
    border-radius: 15px;
}

.btnBuscar {
    width: fit-content;
}